/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	/* outline: 1px solid red; */

	padding: 0;
	margin: 0;
	box-sizing: border-box;

	color: #000;
	text-decoration: none;
	list-style: none;
}

.hidden {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

/* ==================== MAIN ==================== */

:root {
	--nav-bg: #def;
	--nav-fg: #000;
	--primary-bg: #fff;
	--primary-fg: #000;
	--secondary-bg: #ccc;
	--secondary-fg: #333;
	--primary-accent: #7600FF;
	--secondary-accent: #FFA0A0;
	--primary-shadow: 0 0.25rem 0.25rem #0004;
	--drop-shadow: drop-shadow(var(--primary-shadow));
	--transition-fast: 100ms cubic-bezier(0, 0, 0, 1);
	--transition: 250ms cubic-bezier(0, 0, 0, 1);
	--transition-slow: 500ms cubic-bezier(0, 0, 0, 1);

	font-size: 16px;
	font-family: 'Poppins', 'Lato', 'Roboto', sans-serif;
}

html {
	height: 100vh;
	width: 100vw;
}

body {
	display: flex;
	flex-direction: column;

	height: 100vh;
	width: 100vw;
}

img {
	max-height: 100%;
}

button {
	padding: 0.5rem;
}

/* ==================== NAVIGATION BAR ==================== */

nav {
	background: var(--nav-bg);
	box-shadow: 0 0 0.25rem #0008;

	display: flex;
	justify-content: space-between;

	height: 70px;
}

/* ========== NAVIGATION Sections ========== */

/* ===== Brand Section ===== */

.nav-brand {
	display: flex;
	justify-content: center;
	align-items: center;

	height: 100%;
	padding: 0.5rem;

	transition: var(--transition);
}

.nav-brand:hover {
	transform: scale(1.1) translateX(5px);
	filter: var(--drop-shadow);
}

.nav-brand span {
	position: relative;
	right: 1rem;
	bottom: 0.25rem;
	transform: rotate(55deg);
}

/* ===== Menu Section ===== */

.nav-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;

	padding: 0.5rem;
}

.nav-icon {
	max-height: 2rem;

	filter: grayscale() brightness(0.5);
	transition: var(--transition-fast);
}

.nav-menu .nav-icon:hover {
	transform: scale(1.1);
	filter: var(--drop-shadow);
}

.nav-search {
	display: flex;
	justify-content: center;
}

.search-input {
	background: #0000;
	color: #0000;
	outline: none;
	border: none;
	border-bottom: 2px solid var(--nav-fg);
	box-shadow: 0 0.5rem 0.75rem -0.75rem;

	text-align: center;

	width: 0;
	height: 2rem;
	
	transition: var(--transition-slow);
}

.nav-search:hover .search-input {
	border-bottom: 2px solid var(--primary-accent);
}

.expand-site-search {
	color: var(--primary-fg);
	border-bottom: 2px solid var(--primary-accent);
	width: 10rem;
}

.remove-icon-filter {
	filter: none;
}

/* ==================== CATALOG SECTION ==================== */

.catalog-section {
	flex: 1 1 auto;
}

.catalog-menu {
	outline: 1px solid red;

	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 0.5rem;

	padding: 0.5rem;
}

.catalog-menu * {
	font-variant-caps: small-caps;
}

.catalog-menu button {
	background: #0000;
	border: none;

	display: flex;
	align-items: center;
	gap: 0.25rem;

	height: 2rem;
}

.catalog-menu button:hover {
	transform: scale(1.1);
	filter: var(--drop-shadow);
}

.catalog-menu button:active {
	transform: none;
	filter: none;
}

.select-sort {
	position: relative;
}

.select-sort select {
	background: #0000;

	text-align: center;

	/* width: auto; */
	/* border: none; */

	/* appearance: none; */
}

/* ==================== FILTER & SORT BAR ==================== */

.filter-bar {
	background-color: #0f04;
	outline: 1px solid green;

	/* display: flex; */
	/* flex-direction: column; */

	/* position: relative; */
	/* top: 0; */
	/* left: -200px; */
	/* z-index: 1; */

	/* width: 200px; */
	/* height: 100%; */

	transition: var(--transition);
}

.filter-bar input {
	max-width: 100%;
}

.expand-filter-bar {
	left: 0;
}

/* ==================== DISPLAY WINDOW ==================== */

.display-window {
	overflow: auto;
}

.shrink-display-window {
	margin-left: 200px;
}

/* ==================== SHOE CARDS ==================== */

.shoe-card {
	background: #4444;
}

/* ==================== SHOPPING CART ==================== */

/* ==================== FOOTER BAR ==================== */

footer {
	background: var(--nav-bg);
	box-shadow: 0 0 0.25rem #0008;

	height: 50px;
}

/* ==================== MESSAGES ==================== */

/* ==================== ANIMATIONS ==================== */

/* ==================== RESPONSIVENESS ==================== */

/* ==================== LAYOUT GUIDES ==================== */